
*,
*::before,
*::after {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}

:root {
     --CLOUD: #F4F4FD;
     --GREEN: #31D0AA;
     --DAIRY: #FCFCFC;
     --CORNFLOWER: #EFE9FC;
     --DAIRY: #FCFCFC;
     --IRIS: #4D5AE5;
     --NAVY-BLUE: #2E2F42;
     --OCEAN: #404BBF;
     --SLATE:   #434455;
     --WHITE:  #FFFFFF;
      --slate: #434455;
     --iris: #4d5ae5;
     --white: #ffffff;
     --navy-blue: #2e2f42;
     --ocean: #404bbf;
     --cloud: #f4f4fd;
     --cornflower: #e7e9fc;
     --light-slate: #8e8f99;
     --green: #31d0aa;
     --navy-blue-modal: rgba(46, 47, 66, 0.4);
     --dairy: #fcfcfc;
}

body {
     font-family: 'Roboto', sans-serif;
     color: var(--SLATE, #434455);
     background-color: var(--WHITE, #fff);
     font-size: 16px;
     font-style: normal;
     line-height: 1.5;
     letter-spacing: 0.32px;
}

html {
     box-sizing: border-box;
}

*,
*::after,
*::before {
     box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
     margin: 0;
}

img {
     display: block;
     width: 100%;
     max-width: 100%;
     height: auto;
}



/*--HOMEWORK 7--*/

/* MOBILE VIEW*/
/*MEDIA QUERIES*/



@media screen and (min-width: 428px) and (max-width: 768px) {
     .header {
          max-width: 767px;
          margin: 0 auto;
     }
}

@media only screen and (min-width: 428px) and (max-width: 767px) {
     .style-list,
     .address-contact-list {
          display: none;
     }
}

.list {
     list-style: none;
     margin: 0;
     padding: 0;
}


@media screen and (min-width: 428px) and (max-width: 767px) {
     .header {
               display: flex;
               align-items: center;
               justify-content: space-between;
               border-bottom: 1px solid var(--cornflower, #e7e9fc);
               background: var(--white, #fff);
               max-width: 428px;
               height: 70px;
               flex-shrink: 0;
          }
}

.main-header-section {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.nav-menu-liststyle {
     display: flex;
     align-items: center;
     justify-content: space-between;
     display: inline-flex;
     height: 24px;
     margin: 24px 249px 22px 16px;
}

.logo-style {
     color: var(--IRIS, #4D5AE5);
     font-family: Raleway;
     font-size: 18px;
     font-style: normal;
     font-weight: 800;
     line-height: 21px;
          /* 116.667% */
     letter-spacing: 0.54px;
     text-transform: uppercase;
}

.link {
     text-decoration: none;
}

.studio {
     color: var(--NAVY-BLUE, #2E2F42);
     font-family: Raleway;
     font-size: 18px;
     font-style: normal;
     font-weight: 800;
     line-height: 21px;
          /* 116.667% */
     letter-spacing: 0.54px;
     text-transform: uppercase;
}
.style-list {
     display: none;
}

.contact-address {
     font-size: 16px;
     font-style: normal;
     line-height: 24px;
     letter-spacing: 0.02em;
     color: var(--slate, #434455);
}



/*--HAMBURGER--*/

.menu-toggle {
     display: flex;
     align-items: center;
     justify-content: center;

     margin-left: auto;
     padding: 0;
     background-color: transparent;
     cursor: pointer;
     border: none;
     border-radius: 50%;
     outline: none;
     color: var(--navyblue, #2e2f42);

     @media screen and (min-width: 768px) {
          display: none;
     }
}

.hamburger-close-button {
     position: absolute;
     top: 24px;
     right: 24px;
     padding: 0;
     width: 30px;
     height: 30px;

     background-color: var(--cornflower, #e7e9fc);
     color: var(--navyblue, #2e2f42);
     border: 1px solid rgba(0, 0, 0, 0.1);
     border-radius: 15px;
     cursor: pointer;

     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
          color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon {
     fill: currentColor;
}

.hamburger-close-button:hover,
.hamburger-close-button:focus {
     background-color: var(--ocean);
     color: var(--white);
}

.hamburger-menu-list {
     display: flex;
     flex-direction: column;
     gap: 40px;
}

.hamburger-menu-item {
     color: var(--navyblue, #2e2f42);
     font-size: 36px;
     font-weight: 700;
     line-height: 40px;
     letter-spacing: 0.72px;
}

.hamburger-menu-link {
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-menu-link:hover,
.hamburger-menu-link:focus {
     color: var(--ocean);
}

.hamburger-wrapper {
     display: flex;
     flex-direction: column;
     gap: 48px;
}

.hamburger-address {
     color: var(--slate, #434455);
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 24px;
     letter-spacing: 0.4px;
}

.hamburger-address-list {
     display: flex;
     flex-direction: column;
     gap: 40px;
}

.hamburger-address-link {
     color: inherit;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-wrapper {
     display: flex;
     flex-direction: column;
     gap: 48px;
}

.hamburger-address-link:hover,
.hamburger-address-link:focus {
     color: var(--ocean);
}

.highlight {
     color: var(--iris, #4d5ae5);
     font-size: 30px;
     font-weight: 700;
     line-height: 40px;
     letter-spacing: 0.72px;
}

.hamburger-social-list {
     display: flex;
     justify-content: space-between;
}

.hamburger-social-link {
     background-color: var(--iris, #4d5ae5);
     width: 40px;
     height: 40px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     color: var(--cloud, #f4f4fd);
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-social-link:hover,
.hamburger-social-link:focus {
     background-color: var(--ocean, #404bbf);
}

.hamburger-social-icon {
     fill: currentColor;
}

.menu-container {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     padding: 48px 40px;
     background-color: var(--white);
     z-index: 200;

     transform: translateX(100%);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--FIRST SECTION- HERO--*/

@media  screen and (min-width: 428px) and (max-width: 767px) {
     .first-section {
          background-color: var(--NAVY-BLUE, #2E2F42);
          min-width: 428px;
          height: 432px;
          background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url(../images/img-name.jpg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          margin: 0;
          display: flex;
          text-align: center;
          padding: 112px 54px;

     }
}

@media screen and (min-width: 428px) and (max-width: 767px) {
     .first-section-header {
          color: var(--WHITE, #FFF);
          text-align: center;
          width: 320px;
          margin-bottom: 72px;
     
               /* Header 2 */
          font-family: Roboto;
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: 40px;
               /* 111.111% */
          letter-spacing: 0.72px;
          text-transform: capitalize;
     }
}

.first-section-button {
     color: var(--white, #fff);
     background-color: var(--iris, #4d5ae5);
     border: none;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     font-family: "Roboto", sans-serif;
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0.64px;
     display: inline-flex;
     padding: 16px 32px;
     align-items: flex-start;
     gap: 10px;
     margin: 0 auto;
     display: flex;
     font-style: normal;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--SECOND SECTION--*/

.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
}
@media screen and (min-width: 428px) and (max-width: 767px) {
     .list-features {
               display: inline-flex;
               flex-direction: column;
               align-items: flex-start;
               gap: 72px;
               padding: 96px 16px;
          }
}

.second-section-header {
     color: var(--NAVY-BLUE, #2E2F42);
     text-align: center;
     
          /* Header 2 */
     font-family: Roboto;
     font-size: 36px;
     font-style: normal;
     font-weight: 700;
     line-height: 40px;
          /* 111.111% */
     letter-spacing: 0.72px;
     text-transform: capitalize;
     align-self: stretch;
}

.second-section-paragraph {
     color: var(--SLATE, #434455);
     
          /* Body Medium */
     font-family: Roboto;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 24px;
          /* 150% */
     letter-spacing: 0.32px;
     width: 100%;
     height: 48px;
}

.feature-item-content {
     display: flex;
     width: 396px;
     height: 96px;
     flex-direction: column;
     align-items: flex-start;
     gap: 8px;
}

.feature-item-icons {
     display: none;
}

.about-features {
     display: inline-flex;
     flex-direction: column;
     align-items: flex-start;
     gap: 72px;
}

/*--THIRD SECTION-DISPLAY NONE*/
.third-section {
     display: none;
}

/*--FOURTH SECTION--*/

@media  (min-width: 428px) and (max-width: 767px) {
     .fourth-section-ourteam {
               width: 428px;
               height: 2232px;
               flex-shrink: 0;
               padding: 96px 82px;
     }
}

@media  (min-width: 428px) and (max-width: 767px) {
     .fourth-section-header {
          color: var(--NAVY-BLUE, #2E2F42);
          text-align: center;
          
               /* Header 2 */
          font-family: Roboto;
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: 40px;
               /* 111.111% */
          letter-spacing: 0.72px;
          text-transform: capitalize;
          margin-bottom: 72px;
     }
}

.list-our-teams {
     flex-direction: column;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     gap: 72px; 
}

.team-member-bgcolor {
     list-style: none;
     display: flex;
     width: 264px;
     height: 428px;
     padding-bottom: 32px;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 32px;
}

.card-content-name {
     display: flex;
     width: 232px;
     height: 104px;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 8px;
}

.social-media-list {
     display: flex;
     justify-content: center;
     gap: 24px;
}

.social-media-item {
     width: 40px;
     height: 40px;
     list-style: none;
}

.social-media-link {
     width: 100%;
     height: 100%;
     background-color: var(--iris);
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
     background-color: var(--OCEAN, #404BBF);
}

.social-media-icon {
     fill: var(--CLOUD, #F4F4FD);
}

img {
     width: 264px;
          height: 260px;
          background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}



